/* Under "body" har jag skrivit vilket typsnitt, tjocklek och radavstånd jag vill att brödtexten ska ha, samt att jag vill ha lite mer marginal åt kanterna. */
body {
  font-family: 'Candara', sans-serif;
  font-weight: lighter;
  line-height: 20px;
  padding-left: 50px;
  padding-right: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
}
/* Nedan visas vilka typsnitt rubrikerna ska ha, och även att jag ville att bokstäverna skulle vara lite tunnare och ha mer mellanrum för att det ska se snyggare ut och vara mer lättläst. */
h1, h2, h3, h4, h5, h6 {
 font-family: 'Helvetica', sans-serif;
 font-weight: lighter;
 letter-spacing: 2px;
}
/* Här under har jag skrivit hur den första tabellen ska se ut, att det ska finnas en ram runtom och hur tjock den ska vara, hur bred tabellen ska vara, hur mycket luft som ska finnas mellan texten och kanterna samt vilken bakgrundsfärg tabellen ska ha. */
.tabell1 {
  border: 1px solid black;
  width: 25%;
  padding: 5px;
  background-color: #ffcccc;
}
/* Här har jag lagt in samma funktioner som i tabell1. Eftersom tabellerna står som <table class="tabell1"> ska det vara en punkt innan "tabell2". */
.tabell2 {
  border: 1px solid black;
  width: 40%;
  padding: 5px;
  background-color: #ffcc99;
}
/* Här har jag skrivit färgen på denna text: "Källa: Luleå Tekniska Universitet http://www.ltu.se/" Eftersom det står <p id="source"> i html-dokumentet ska det vara en # och ingen punkt innan "source". Jag ändrade också position för texten och textstorlek. */
#source {
  color: #009900;
  margin-left: 600px;
  font-size: 11px;
}
